<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> rahul template </title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../assets/fontawesome-free-5.15.3-web/css/all.css">
    <!-- <link rel="icon" href="../../assets/images/deadpool.jpg" type="image/jpg"> -->
    <link rel="icon" href="../Screenshot at 2021-10-05 08-25-06.png" type="image/png">
</head>
<body>
    <div class="container">
        <!-- navbar -->
        <div class="navbar">
            <!-- <h1>Navbar</h1> -->
        </div>
        <!-- main -->
        <div class="main">
            <div class="topBar">
                <div class="split-btn">
                    <button> Design Task </button>
                    <div class="dropdown">
                        <button class="fa fa-caret-down"></button>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </div>
                <!-- <button type="dropdown"> Design Task <i class="fa fa-caret-down"></i> </button> -->
                <button > +ADD PROJECT </button>
            </div>
            <div class="middleBar">
                <div class="timesheet">
                    <div class="timesheet-header">
                        <h3>Timesheet</h3>
                        <button>VIEW FULL SHEET</button>
                        <i class="fa fa-ellipsis-h"></i>
                    </div>
                    <table>
                        <tr>
                            <th> Project </th>
                            <th> Date </th>
                            <th> Start time </th>
                            <th> Stop time </th>
                            <th> Duration </th>
                        </tr>
                        <tr>
                            <td>
                                <span>1</span>
                                Landing page Design
                            </td>
                            <td>May 21, 2019</td>
                            <td>1:10pm</td>
                            <td>9:20pm</td>
                            <td>8:10:37</td>
                        </tr>
                        <tr>
                            <td>
                                <span>1</span>
                                Landing page Design
                            </td>
                            <td>May 21, 2019</td>
                            <td>1:10pm</td>
                            <td>9:20pm</td>
                            <td>8:10:37</td>
                        </tr>
                        <tr>
                            <td>
                                <span>1</span>
                                Landing page Design
                            </td>
                            <td>May 21, 2019</td>
                            <td>1:10pm</td>
                            <td>9:20pm</td>
                            <td>8:10:37</td>
                        </tr>
                        <tr>
                            <td>
                                <span>1</span>
                                Landing page Design
                            </td>
                            <td>May 21, 2019</td>
                            <td>1:10pm</td>
                            <td>9:20pm</td>
                            <td>8:10:37</td>
                        </tr>
                        <!-- <tr>
                            <td>
                                <span>1</span>
                                Landing page Design
                            </td>
                            <td>May 21, 2019</td>
                            <td>1:10pm</td>
                            <td>9:20pm</td>
                            <td>8:10:37</td>
                        </tr> -->
                    </table>
                </div>
                <div class="report">
                    <div class="report-header">
                        <h3>Report</h3>
                    </div>
                    <div class="report-card">
                        <div class="icon">
                            <i class="fa fa-chart-line"></i>
                        </div>
                        <div class="content">
                            <p>WEEKLY ACTIVITY</p>
                            <span style="font-size: 1.5em;padding-top:10px">52%</span>
                        </div>
                        <div class="dropdown">
                            <i class="fa fa-caret-up"></i>
                            <span>17%</span>
                        </div>
                    </div>

                    <div class="report-card">
                        <div class="icon">
                            <i class="fab fa-cloudscale"></i>
                        </div>
                        <div class="content">
                            <p>WORKED THIS WEEK</p>
                            <span style="font-size: 1.5em;padding-top:10px">11:56:33</span>
                        </div>
                        <div class="dropdown">
                            <i class="fa fa-caret-down"></i>
                            <span>17%</span>
                        </div>
                    </div>

                    <div class="export-btn">
                        <button>
                            <i class="far fa-file-pdf"></i> EXPORT AS PDF
                        </button>
                    </div>
                </div>
                
            </div>
            <div class="bottomBar">
                <div class="todo-list">
                    <h3>To-Do lists</h3>
                    <div class="todo-card">
                        <div class="date-wrapper">
                            <div class="date">20</div>
                            <div class="month">May</div>
                        </div>
                        <div class="todos">
                            <div class="todo-wrapper">
                                <div class="todo">
                                    <p> Revamp Instagram app </p>
                                </div>
                                <div class="day">
                                    <p>Today</p>
                                </div>
                            </div>
                            <div class="menu-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </div>
                        </div>
                    </div>

                    <div class="todo-card">
                        <div class="date-wrapper">
                            <div class="date">20</div>
                            <div class="month">May</div>
                        </div>
                        <div class="todos">
                            <div class="todo-wrapper">
                                <div class="todo">
                                    <p> Revamp Instagram app </p>
                                </div>
                                <div class="day">
                                    <p>Today</p>
                                </div>
                            </div>
                            <div class="menu-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </div>
                        </div>
                    </div>

                    <div class="todo-card">
                        <div class="date-wrapper">
                            <div class="date">20</div>
                            <div class="month">May</div>
                        </div>
                        <div class="todos">
                            <div class="todo-wrapper">
                                <div class="todo">
                                    <p> Revamp Instagram app </p>
                                </div>
                                <div class="day">
                                    <p>Today</p>
                                </div>
                            </div>
                            <div class="menu-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="screenshots">
                    <h3>Screenshots</h3>
                    <div class="shot-wrapper">
                        <div class="shot">
                            <div class="img-icon">
                                <i class="far fa-image"></i>
                            </div>
                            <div class="shot-name">
                                <p>shot_1_attach_1.png</p>
                            </div>
                            <button> View </button>
                        </div>

                        <div class="shot">
                            <div class="img-icon">
                                <i class="far fa-image"></i>
                            </div>
                            <div class="shot-name">
                                <p>shot_1_attach_1.png</p>
                            </div>
                            <button> View </button>
                        </div>

                        <div class="shot">
                            <div class="img-icon">
                                <i class="fa fa-video"></i>
                            </div>
                            <div class="shot-name">
                                <p>shot_1_attach_1.png</p>
                            </div>
                            <button> View </button>
                        </div>
                    </div>
                    <button id="viewall-btn">VIEW ALL</button>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>