<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> How to link  Google Font to your webPage </title>
    <!-- copy & paste the link below title tag -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Ephesis&family=Gemunu+Libre:wght@500&display=swap" rel="stylesheet"> 
<style>
  p{
      min-height: 20vh;
      display: grid;
      place-items: center;
      font-size: 5em;
  }
  .googleFont{
    font-family: Gemunu Libre ,sans-serif;
   }
</style>
</head>
<body>
    <p class="normalFont">Normal Font </p>
    <p class="googleFont"> Google Font Style </p>
</body>
</html>