<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> How to add a Favicon</title>
    <link rel="icon" type="image" href="../assets/images/instagram.png">
    <style>
        *{
            margin:0;
            padding:0;
            font-family: sans-serif;
            box-sizing: border-box;
        }
        body{
            min-height:100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #141010;
        }
        p{
            font-size: 3.5em;
            color:#e2e2e2;
            text-align: center;
        }
        b{
            color: #f70776
        }
    </style>
</head>
<body>
    <p>How to add a 
        <b>Favicon</b> 
        in your webpage</p>
</body>
</html>